/*Global*/
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container{
    max-width: 980px;
    margin: auto;
}
/*------------------------------------------------------*/
/*Header*/
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    background-color: #47cfac;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    margin-right: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
header .header-icons-container .icons .github img{
    width: 33px;
    color: white;
    padding-left: 16px;
    margin-top: 3px;
}
header .icons span {
    color: black;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
}
/*-----------------------------------------------------*/
/*Main index.html*/

.home-main {
    height: 100%;
    margin: 0;
    background-image: url("../assets/img/fondo_blog.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.home-main .home-main-title{
    margin-top: 75px;
    color: #133930;
    font-family: 'Times New Roman', Times, serif;
    
}
.home-main .home-main-button{
    background-color: #47cfac;
    color: black;
    height: 40px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main a:hover {
    color: white;
}

.home-main .home-main-button span{
    font-weight: bold;
    
}

/*-----------------------------------------------------------------*/
/*Blogs.html*/
/*Seccion de arriba*/
.blogs-news-container {
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 60%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container p{
    margin-bottom: 35px;
}

.blogs-button{
    border: 1px solid #47cfac;
    padding: 10px 15px;
    font-size: 12px;
}

.blogs-button:hover{
    border: 1px solid white;
    color: white;
    background-color: #48cfad;
}
/*--------------------------------------------------------*/
.blogs-post-container{
    padding: 0 50px 40px;
}
.blogs-post-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.blogs-post-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}

.blogs-post-container .post-container p{
    margin-bottom: 35px;
}
.blogs-post-container .post-container .post-container-texto{
    width: 100%;
    height: 110.40px; /*Si hay menos texto para que la imagen y las dimensiones del articulo no se muevan*/
    overflow: hidden; /*Para que no me deje mostrar mas texto*/
    
}

.blogs-post-container .post-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    
}

/*Footer*/

footer{
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 30px;
}

/*blog individual */
.blog-grid-container{
    width: 100%;
    display: grid;
    grid-template-rows: 2fr 2fr;
}
/*Blog img*/
.blogpost-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0;
    
}

.blogpost-img-container img{
    max-width: 80%;
    max-height:80%;
}

/*-------------------------------*/
/*Blog-main individual*/

.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container p{
    font-size: 18px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 30px;
    text-align: center;
}

.blogpost-main-container article h1{
    font-size: 35px ;
}
/*-----------------------------------------------------------------------------*/
/*GradoSuperior.html*/
.blog-grid-container-gradosuperior{
    grid-template-rows: 1fr 2fr;
}
.container-gradosuperior{
    max-width: 980px;
    margin: auto;
}
/*sección de arriba*/
.blogpost-img-container-gradosuperior{
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.blogpost-img-container-gradosuperior img{
    max-width: 980px;
    height: 500px;
}
/*sección principal*/
.container-gradosuperior div{
    display: grid;
    grid-template-columns: repeat(2,50%);
    
}

.blogpost-main-container .container-gradosuperior img{
    width:  100%;
    height: 300px;
    object-fit: cover;
    
}


/*----------------------------------------------------------------------------*/
/*perfil.html*/

.perfil-main{
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}
/*presentación sección de arriba*/
.main-perfil-presentacion{
    width: 100%;
    background-color: #cdd2da;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}

.main-perfil-presentacion figure{
    padding-left: 120px;
    margin-right: 0;
}
.main-perfil-presentacion img{
    width: 250px;
}

.main-perfil-presentacion div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.main-perfil-presentacion h2{
    margin-bottom: 0;
}
.main-perfil-presentacion p{
    max-width: 80%;
}

/*--------------------*/
/*Proyectos sección central*/
.main-perfil-proyectos{
    margin-top: 35px;
    padding: 0 50px 40px;
}
.main-perfil-proyectos h3{
    text-align: center;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 30px;
}

.main-perfil-proyectos .main-perfil-proyectos-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding-left: 70px;
    padding-right: 30px;
}

/*Contacto-bacground gris*/

.contact-main-container{
    width: 100%;
    height: 100%;
    background-color: #cdd2da;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-main-container .contact-main-container-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-main-container figure{
    margin-right:5px;
}
.contact-main-container img{
    width: 100px;
}

.contact-main-container .contact-main-container-div .contact{
    width: 250px;
}
.contact-main-container .contact-main-container-div .contact a{
    border-bottom: 1px solid black;
}




/* Botón para volver al comienzo de la página  */


#goTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #goTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

