@media (max-width:900px) {
    .home-main .home-main-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*blogs.html*/
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container{
        grid-row: 2;
        display: flex;
        justify-content: center;
    }
    .blogs-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container{
        max-width: 45%;
    }

    .main-perfil-presentacion{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr;
        justify-items: center;
        height: 430px;
    }
    .main-perfil-presentacion-img img{
        grid-row: 1;
        width: 200px;
        margin-top: 20px;
    }

    
    .main-perfil-presentacion figure{ 
        padding: 0;
    }
    .main-perfil-proyectos .main-perfil-proyectos-grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr;
    }

    .container-imagenes .grid-container-imagenes-blog{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
    }


    
}

@media (max-width:600px){
    .blogs-post-container .post-container{
        max-width: 95%;
    }

    .main-perfil-proyectos .main-perfil-proyectos-grid{
        grid-template-columns: 1fr;
        grid-template-rows: 4fr;
    }

    .container-imagenes .grid-container-imagenes-blog-gradosuperior{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .container-imagenes .grid-container-imagenes-blog{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
}


@media(max-width:1024px){
    .container-imagenes .grid-container-imagenes-blog-gradosuperior {
        grid-template-columns: 2fr;
        gap:10px
    }
    .container-imagenes .grid-container-imagenes-blog-gradosuperior img {
        margin: 0 auto;
        min-width: 469px;
        width: 80%;
        height: 90%;
    }
}

@media (max-width:355px){
    .home-main .home-main-title{
        margin-top: 75px;
        height: 45px;
        background-color: #47cfac;
        border-radius: 10px;
        color: black;
        font-size: 15px;
        text-align: center;

        
    }
}

@media (max-width:730px){
    footer{
        width: 100%;
    }
}